<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" href="/assets/favicon.ico" type="image/ico" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <title>caesar's cipher.</title>
  </head>
  <body>
    <div class="content">
        <img class="icon" src="/assets/caesar.png"></img>
        <a class="title">caesar's cipher.</a>
        <form>
            <input class="text-box" type="text" name="word" placeholder="Insert key here." value="<%= encode%>"></br>
            <input class="text-box" type="number" name="shift" placeholder="Shift by?"></br>
            <input class="text-button" type="submit" value="Encode that text!">
        </form>
    </div>
  </body>
</html>