<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <title>mastermind.</title>
  </head>
  <body>
    <div class="content-left">
      <div class="container-left">
          <p class="rules" >
          <b>Rules</b>
          </br>
          Black : Wrong guess, wrong slot.
          </br>
          White : Correct guess, wrong slot.
          </br>
          Red : Correct guess, correct slot.
          </p>
      <a class="hint"> guesses/hints: </a>
      </div>
    </div>
    <div class="content-right">
      <div class="container-right">
          <img class="title-image" src="/assets/jobs.png">
          <a class="title">mastermind.</a>
            <div class="circle-group">
              <div id="c1" class="circle"></div>
              <div id="c2" class="circle"></div>
              <div id="c3" class="circle"></div>
              <div id="c4" class="circle"></div>
            </div>
          <a class="tries">Tries left: 12</a>
          <input class="text-button" type="button" value="I hope this is right!">
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>