html, body{
    font-family: 'Architects Daughter', cursive;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.title-image {
    max-height: 15em; 
    max-width: 15em;
}

.title {
    font-size: 4em;
}

.rules{
    font-size: 1.2em;
}

.hint {
    font-size: 3em;
    margin: 20px 0;
}

.content-right, .content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5em 0 5em
}

.container-left, .container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-right {
    width: 60%;        
    align-items: flex-start;
}

.content-left {
    width: 40%;        
    align-items: flex-end;
}

.circle-group {
    display: flex;
    flex-direction: row;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
}

.circle {
    height: 6em;
    width: 6em;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    margin: 1em;
}

.tries {
    font-size: 2em;
    margin: 1em;
}

.text-button {
    font-family: inherit;
    font-size: 2em;
    border: 2px solid black;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.text-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}